.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    border: #cc0000;


}

.input {
}

.input:focus {
}

.errorInput {
    border: red solid 2px;
}

.button {
    margin-left: 5px;
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;

}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
